<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="RestAssured">
        <classes>
            <class name="tests.Get"/>
            <class name="tests.Post"/>
            <class name="tests.Put"/>
        </classes>
    </test>
</suite>